PORT=4000
DEPLOYMENT_PROFILE=public
LAWFUL_ACCESS_ENABLED=true
MESSAGING_URL=http://localhost:4001
MEDIA_URL=http://localhost:4002
NOTIFICATIONS_URL=http://localhost:4003
AUDIT_URL=http://localhost:4004
LAWFUL_URL=http://localhost:4005
CORPORATE_CONNECTIVITY_MODE=isolated
